@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/General.css")

<div class="jumbotron">
    <h1>Car Test Manager</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Author</h2>
        <p>
            Mateusz Janel
        </p>
        <p>
            <img src="~/Content/logo-MJ.png" class="img-logo" />
    </div>
</div>